In [321]:
import numpy as np
import pandas as pd  
import seaborn as sns
from matplotlib import pyplot as plt

In [322]:
data = pd.read_csv('aac_shelter_outcomes.csv')
data.head(5)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

In [323]:
data.shape

(78256, 12)

In [324]:
# нам нужно предсказать метки 'Adoption' и 'Transfer' в столбце outcome_type. Поэтому оставим только их 
data = data[data.outcome_type.isin(['Adoption', 'Transfer'])]

In [325]:
data.shape

(56611, 12)

!!!! _profiling_____________________________________________

наблюдения по профайлингу:
1. в категориальном столбце name 31% пропусков. Не думаю что имя влияет на судьбу животного. Удалим столбец. 
2. в категириальном столбце outcome_subtype почти 50% пропусков. Это важный признак, но мы увы придется его тоже удалить. 
3. Переменные color  и  breed имееют огромное количество различных наименований. надо как-то преобразовать. 
4. надо привести столбец age_upon_outcome к однороднову числовому виду. Может быть считать сколько было дней животному, когда оно поступило в приют. 
5. столбец animal_id удаляем. 
6. столбцы datetime и monthyear идентичные
7.  к столбцам animal_type и sex_upon_outcome тоже применим One hot encoding, возможно заранее преобразовав

In [326]:
data = data.drop('animal_id', 1)
data = data.drop('name', 1)
data = data.drop('outcome_subtype', 1)

In [327]:
data.isnull().sum()

age_upon_outcome    2
animal_type         0
breed               0
color               0
date_of_birth       0
datetime            0
monthyear           0
outcome_type        0
sex_upon_outcome    0
dtype: int64

In [328]:
# в столбце age_upon_outcome  есть два пропущенных значения. Заполним их модой.
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.apply(lambda x: sum(x.isnull()/len(data)))

age_upon_outcome    0.0
animal_type         0.0
breed               0.0
color               0.0
date_of_birth       0.0
datetime            0.0
monthyear           0.0
outcome_type        0.0
sex_upon_outcome    0.0
dtype: float64

In [329]:
#сведем столбц age_upon_outcome к количесвту дней от рождения.
n_of_days = []
for i in data.age_upon_outcome:
    [number, date] = i.split(" ")
    if ('day' in date):
        n_of_days.append(int(number))
    if ('week' in date):
        n_of_days.append((int(number))*7)
    if ('month' in date):
        n_of_days.append((int(number))*30)
    if ('year' in date):
        n_of_days.append((int(number))*365)

In [330]:
n_of_days_df = pd.DataFrame(n_of_days)
n_of_days_df.index = data.index
data['number_of_days_upon_outcome'] = n_of_days_df

In [331]:
data

,age_upon_outcome,animal_type,breed,color,date_of_birth,datetime,monthyear,outcome_type,sex_upon_outcome,number_of_days_upon_outcome
0,2 weeks,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,Transfer,Intact Male,14
1,1 year,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Transfer,Spayed Female,365
2,1 year,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,Adoption,Neutered Male,365
3,9 years,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Transfer,Neutered Male,3285
5,4 months,Dog,Leonberger Mix,Brown/White,2013-06-03T00:00:00,2013-10-07T13:06:00,2013-10-07T13:06:00,Transfer,Intact Male,120
7,3 years,Dog,Chihuahua Shorthair Mix,Brown,2011-11-23T00:00:00,2014-12-08T15:55:00,2014-12-08T15:55:00,Transfer,Spayed Female,1095
8,1 month,Cat,Domestic Shorthair Mix,Blue Tabby/White,2014-06-16T00:00:00,2014-08-14T18:45:00,2014-08-14T18:45:00,Adoption,Intact Female,30
9,3 months,Cat,Domestic Shorthair Mix,White/Black,2014-03-26T00:00:00,2014-06-29T17:45:00,2014-06-29T17:45:00,Adoption,Spayed Female,90
11,2 years,Dog,Papillon/Border Collie,Black/White,2012-02-28T00:00:00,2014-03-28T14:39:00,2014-03-28T14:39:00,Transfer,Neutered Male,730
12,2 months,Dog,Chihuahua Shorthair/Pomeranian,Black,2014-03-07T00:00:00,2014-05-26T19:10:00,2014-05-26T19:10:00,Adoption,Neutered Male,60
15,2 years,Dog,Rat Terrier Mix,White/Black,2012-06-02T00:00:00,2014-06-15T15:11:00,2014-06-15T15:11:00,Transfer,Neutered Male,730
16,1 year,Dog,Pit Bull Mix,Brown Brindle/White,2013-03-11T00:00:00,2014-04-16T12:51:00,2014-04-16T12:51:00,Transfer,Neutered Male,365
17,3 weeks,Cat,Domestic Shorthair Mix,Black/White,2013-12-16T00:00:00,2014-01-09T19:29:00,2014-01-09T19:29:00,Transfer,Intact Male,21
18,2 months,Dog,German Shepherd/Labrador Retriever,Black/White,2014-10-19T00:00:00,2014-12-21T18:20:00,2014-12-21T18:20:00,Adoption,Spayed Female,60
19,2 months,Cat,Domestic Shorthair Mix,Brown Tabby,2014-06-02T00:00:00,2014-08-13T15:04:00,2014-08-13T15:04:00,Adoption,Spayed Female,60
20,8 months,Cat,Domestic Shorthair Mix,Brown Tabby/White,2013-07-05T00:00:00,2014-03-06T14:29:00,2014-03-06T14:29:00,Transfer,Unknown,240
21,5 months,Cat,Domestic Shorthair Mix,Black Tabby,2014-03-22T00:00:00,2014-08-31T15:45:00,2014-08-31T15:45:00,Adoption,Neutered Male,150
22,2 years,Dog,Beagle Mix,Tan/White,2012-05-05T00:00:00,2014-12-11T17:52:00,2014-12-11T17:52:00,Adoption,Spayed Female,730
23,2 months,Cat,Domestic Shorthair Mix,Orange Tabby,2014-08-03T00:00:00,2014-10-31T18:29:00,2014-10-31T18:29:00,Adoption,Neutered Male,60
24,1 year,Cat,Domestic Medium Hair Mix,Black/White,2012-12-04T00:00:00,2013-12-16T13:59:00,2013-12-16T13:59:00,Transfer,Neutered Male,365
25,1 year,Dog,Mastiff Mix,Brown Brindle,2013-10-11T00:00:00,2014-10-19T17:54:00,2014-10-19T17:54:00,Adoption,Spayed Female,365
26,4 months,Dog,Plott Hound Mix,Brown Brindle/Black,2013-08-23T00:00:00,2013-12-25T09:47:00,2013-12-25T09:47:00,Transfer,Intact Female,120
27,2 months,Dog,Labrador Retriever Mix,Yellow,2013-09-01T00:00:00,2013-11-19T18:30:00,2013-11-19T18:30:00,Adoption,Spayed Female,60
28,4 months,Dog,Chihuahua Shorthair Mix,Blue/Tan,2014-06-17T00:00:00,2014-11-04T18:03:00,2014-11-04T18:03:00,Transfer,Intact Female,120
29,2 months,Cat,Siamese,Seal Point,2014-04-27T00:00:00,2014-07-03T12:12:00,2014-07-03T12:12:00,Transfer,Intact Female,60
30,2 weeks,Cat,Domestic Shorthair Mix,Black,2014-05-27T00:00:00,2014-06-11T17:11:00,2014-06-11T17:11:00,Transfer,Unknown,14
31,2 months,Cat,Domestic Shorthair Mix,Torbie,2014-04-14T00:00:00,2014-07-03T17:01:00,2014-07-03T17:01:00,Adoption,Spayed Female,60
32,3 months,Dog,Labrador Retriever Mix,Tan/White,2013-09-30T00:00:00,2014-01-03T17:47:00,2014-01-03T17:47:00,Adoption,Spayed Female,90
33,3 months,Cat,Domestic Shorthair Mix,Black,2014-04-15T00:00:00,2014-07-19T17:36:00,2014-07-19T17:36:00,Adoption,Spayed Female,90
34,12 years,Dog,Labrador Retriever Mix,Black/White,2002-05-08T00:00:00,2014-07-09T11:54:00,2014-07-09T11:54:00,Adoption,Neutered Male,4380
...,...,...,...,...,...,...,...,...,...,...
78214,2 years,Dog,Cardigan Welsh Corgi/Miniature Schnauzer,Gray/Tan,2016-01-26T00:00:00,2018-01-31T11:51:00,2018-01-31T11:51:00,Transfer,Spayed Female,730
78215,1 year,Dog,Border Collie Mix,Chocolate/White,2016-12-15T00:00:00,2018-02-01T12:05:00,2018-02-01T12:05:00,Adoption,Neutered Male,365
78217,2 months,Dog,Great Dane Mix,Black/White,2016-04-24T00:00:00,2016-07-09T17:23:00,2016-07-09T17:23:00,Adoption,Spayed Female,60
78218,12 years,Dog,Labrador Retriever,Tan,2005-04-28T00:00:00,2018-02-01T13:17:00,2018-02-01T13:17:00,Adoption,Spayed Female,4380
78223,15 years,Dog,Pembroke Welsh Corgi Mix,Brown/White,2002-07-13T00:00:00,2018-02-01T13:18:00,2018-02-01T13:18:00,Adoption,Spayed Female,5475
78224,1 year,Dog,Blue Lacy,Blue/White,2014-07-31T00:00:00,2015-08-30T14:50:00,2015-08-30T14:50:00,Adoption,Neutered Male,365
78225,2 years,Dog,Akbash Mix,White,2015-08-15T00:00:00,2017-08-23T17:44:00,2017-08-23T17:44:00,Adoption,Neutered Male,730
78227,2 years,Dog,Akbash Mix,White,2015-08-15T00:00:00,2017-09-24T13:04:00,2017-09-24T13:04:00,Adoption,Neutered Male,730
78228,1 year,Cat,Domestic Medium Hair Mix,Brown Tabby/White,2016-07-29T00:00:00,2018-02-01T14:50:00,2018-02-01T14:50:00,Adoption,Spayed Female,365
78229,2 years,Dog,Labrador Retriever Mix,Tan/White,2015-12-11T00:00:00,2018-02-01T15:13:00,2018-02-01T15:13:00,Adoption,Spayed Female,730
78230,2 years,Dog,Labrador Retriever Mix,Black/White,2015-12-20T00:00:00,2018-01-05T17:45:00,2018-01-05T17:45:00,Adoption,Intact Female,730
78231,2 months,Cat,American Shorthair Mix,Blue Tabby/White,2017-09-14T00:00:00,2017-12-10T17:44:00,2017-12-10T17:44:00,Adoption,Intact Female,60
78232,1 month,Cat,Domestic Shorthair Mix,Brown Tabby/White,2017-08-03T00:00:00,2017-09-24T11:57:00,2017-09-24T11:57:00,Adoption,Intact Male,30
78233,1 year,Cat,Domestic Shorthair Mix,Brown Tabby,2017-01-30T00:00:00,2018-02-01T17:51:00,2018-02-01T17:51:00,Transfer,Neutered Male,365
78234,7 years,Dog,Cocker Spaniel Mix,Cream,2011-01-28T00:00:00,2018-02-01T16:34:00,2018-02-01T16:34:00,Transfer,Intact Female,2555
78236,6 months,Cat,Domestic Shorthair Mix,Tortie,2017-07-28T00:00:00,2018-02-01T16:37:00,2018-02-01T16:37:00,Adoption,Spayed Female,180
78237,6 months,Cat,Domestic Medium Hair Mix,Orange Tabby,2017-07-28T00:00:00,2018-02-01T16:38:00,2018-02-01T16:38:00,Adoption,Neutered Male,180
78238,1 year,Dog,Chihuahua Shorthair Mix,Blue/Tricolor,2017-01-28T00:00:00,2018-02-01T17:36:00,2018-02-01T17:36:00,Adoption,Neutered Male,365
78239,1 month,Dog,Golden Retriever/Labrador Retriever,White,2017-12-04T00:00:00,2018-02-01T17:51:00,2018-02-01T17:51:00,Adoption,Spayed Female,30
78241,1 year,Dog,Yorkshire Terrier Mix,Brown/Black,2016-07-28T00:00:00,2018-02-01T16:10:00,2018-02-01T16:10:00,Adoption,Spayed Female,365
78242,4 months,Dog,Pointer Mix,Chocolate/White,2017-09-30T00:00:00,2018-02-01T16:11:00,2018-02-01T16:11:00,Adoption,Spayed Female,120
78243,2 months,Dog,Standard Schnauzer,Brown,2017-11-13T00:00:00,2018-02-01T17:42:00,2018-02-01T17:42:00,Adoption,Neutered Male,60
78244,3 months,Dog,Black/Tan Hound Mix,Black/Brown,2017-04-23T00:00:00,2017-07-29T12:56:00,2017-07-29T12:56:00,Adoption,Spayed Female,90
78245,1 month,Dog,Golden Retriever/Labrador Retriever,White,2017-12-04T00:00:00,2018-02-01T16:10:00,2018-02-01T16:10:00,Adoption,Spayed Female,30
78246,2 years,Dog,Chihuahua Shorthair Mix,Black/Tan,2015-11-14T00:00:00,2018-02-01T18:23:00,2018-02-01T18:23:00,Adoption,Neutered Male,730
78250,1 month,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:40:00,2018-02-01T18:40:00,Adoption,Neutered Male,30
78251,1 month,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:26:00,2018-02-01T18:26:00,Adoption,Spayed Female,30
78252,3 years,Dog,Mastiff Mix,Blue/White,2014-12-30T00:00:00,2018-02-01T18:06:00,2018-02-01T18:06:00,Adoption,Neutered Male,1095
78254,2 months,Dog,Standard Schnauzer,Red,2017-11-13T00:00:00,2018-02-01T18:32:00,2018-02-01T18:32:00,Adoption,Spayed Female,60
78255,2 months,Dog,Labrador Retriever Mix,White/Brown,2017-11-13T00:00:00,2018-02-01T18:44:00,2018-02-01T18:44:00,Adoption,Neutered Male,60

In [332]:
#удалим старую колонку age_upon_outcome
data = data.drop(['age_upon_outcome'], axis=1)

___________________

In [333]:
#следующим шагом преобразуем категориальный признак animal_type
data.animal_type.value_counts()

Dog          29570
Cat          26055
Other          772
Bird           206
Livestock        8
Name: animal_type, dtype: int64

In [334]:
# преобразуем и оставим только 3 котегории: cat, dog, other
data.animal_type.replace(['Bird', 'Livestock'], 'Other', inplace=True)

In [335]:
data.animal_type.value_counts()

Dog      29570
Cat      26055
Other      986
Name: animal_type, dtype: int64

In [336]:
column_names = data.animal_type.unique()

In [337]:
type_animal = data['animal_type'].get_values().reshape(-1, 1)

In [338]:
# One-hot encoding
oh_encoder = preprocessing.OneHotEncoder()
oh_encoder.fit(type_animal)
oh_result = oh_encoder.transform(type_animal).toarray()
oh_result.shape

(56611, 3)

In [339]:
type_animal_df = pd.DataFrame(oh_result, columns = column_names)
type_animal_df.index = data.index
data = pd.concat([data, type_animal_df], axis=1)

In [340]:
#удалим старую колонку animal_type
data = data.drop(['animal_type'], axis=1)

In [341]:
data

,breed,color,date_of_birth,datetime,monthyear,outcome_type,sex_upon_outcome,number_of_days_upon_outcome,Cat,Dog,Other
0,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,Transfer,Intact Male,14,1.0,0.0,0.0
1,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Transfer,Spayed Female,365,0.0,1.0,0.0
2,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,Adoption,Neutered Male,365,0.0,1.0,0.0
3,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Transfer,Neutered Male,3285,0.0,1.0,0.0
5,Leonberger Mix,Brown/White,2013-06-03T00:00:00,2013-10-07T13:06:00,2013-10-07T13:06:00,Transfer,Intact Male,120,0.0,1.0,0.0
7,Chihuahua Shorthair Mix,Brown,2011-11-23T00:00:00,2014-12-08T15:55:00,2014-12-08T15:55:00,Transfer,Spayed Female,1095,0.0,1.0,0.0
8,Domestic Shorthair Mix,Blue Tabby/White,2014-06-16T00:00:00,2014-08-14T18:45:00,2014-08-14T18:45:00,Adoption,Intact Female,30,1.0,0.0,0.0
9,Domestic Shorthair Mix,White/Black,2014-03-26T00:00:00,2014-06-29T17:45:00,2014-06-29T17:45:00,Adoption,Spayed Female,90,1.0,0.0,0.0
11,Papillon/Border Collie,Black/White,2012-02-28T00:00:00,2014-03-28T14:39:00,2014-03-28T14:39:00,Transfer,Neutered Male,730,0.0,1.0,0.0
12,Chihuahua Shorthair/Pomeranian,Black,2014-03-07T00:00:00,2014-05-26T19:10:00,2014-05-26T19:10:00,Adoption,Neutered Male,60,0.0,1.0,0.0
15,Rat Terrier Mix,White/Black,2012-06-02T00:00:00,2014-06-15T15:11:00,2014-06-15T15:11:00,Transfer,Neutered Male,730,0.0,1.0,0.0
16,Pit Bull Mix,Brown Brindle/White,2013-03-11T00:00:00,2014-04-16T12:51:00,2014-04-16T12:51:00,Transfer,Neutered Male,365,0.0,1.0,0.0
17,Domestic Shorthair Mix,Black/White,2013-12-16T00:00:00,2014-01-09T19:29:00,2014-01-09T19:29:00,Transfer,Intact Male,21,1.0,0.0,0.0
18,German Shepherd/Labrador Retriever,Black/White,2014-10-19T00:00:00,2014-12-21T18:20:00,2014-12-21T18:20:00,Adoption,Spayed Female,60,0.0,1.0,0.0
19,Domestic Shorthair Mix,Brown Tabby,2014-06-02T00:00:00,2014-08-13T15:04:00,2014-08-13T15:04:00,Adoption,Spayed Female,60,1.0,0.0,0.0
20,Domestic Shorthair Mix,Brown Tabby/White,2013-07-05T00:00:00,2014-03-06T14:29:00,2014-03-06T14:29:00,Transfer,Unknown,240,1.0,0.0,0.0
21,Domestic Shorthair Mix,Black Tabby,2014-03-22T00:00:00,2014-08-31T15:45:00,2014-08-31T15:45:00,Adoption,Neutered Male,150,1.0,0.0,0.0
22,Beagle Mix,Tan/White,2012-05-05T00:00:00,2014-12-11T17:52:00,2014-12-11T17:52:00,Adoption,Spayed Female,730,0.0,1.0,0.0
23,Domestic Shorthair Mix,Orange Tabby,2014-08-03T00:00:00,2014-10-31T18:29:00,2014-10-31T18:29:00,Adoption,Neutered Male,60,1.0,0.0,0.0
24,Domestic Medium Hair Mix,Black/White,2012-12-04T00:00:00,2013-12-16T13:59:00,2013-12-16T13:59:00,Transfer,Neutered Male,365,1.0,0.0,0.0
25,Mastiff Mix,Brown Brindle,2013-10-11T00:00:00,2014-10-19T17:54:00,2014-10-19T17:54:00,Adoption,Spayed Female,365,0.0,1.0,0.0
26,Plott Hound Mix,Brown Brindle/Black,2013-08-23T00:00:00,2013-12-25T09:47:00,2013-12-25T09:47:00,Transfer,Intact Female,120,0.0,1.0,0.0
27,Labrador Retriever Mix,Yellow,2013-09-01T00:00:00,2013-11-19T18:30:00,2013-11-19T18:30:00,Adoption,Spayed Female,60,0.0,1.0,0.0
28,Chihuahua Shorthair Mix,Blue/Tan,2014-06-17T00:00:00,2014-11-04T18:03:00,2014-11-04T18:03:00,Transfer,Intact Female,120,0.0,1.0,0.0
29,Siamese,Seal Point,2014-04-27T00:00:00,2014-07-03T12:12:00,2014-07-03T12:12:00,Transfer,Intact Female,60,1.0,0.0,0.0
30,Domestic Shorthair Mix,Black,2014-05-27T00:00:00,2014-06-11T17:11:00,2014-06-11T17:11:00,Transfer,Unknown,14,1.0,0.0,0.0
31,Domestic Shorthair Mix,Torbie,2014-04-14T00:00:00,2014-07-03T17:01:00,2014-07-03T17:01:00,Adoption,Spayed Female,60,1.0,0.0,0.0
32,Labrador Retriever Mix,Tan/White,2013-09-30T00:00:00,2014-01-03T17:47:00,2014-01-03T17:47:00,Adoption,Spayed Female,90,0.0,1.0,0.0
33,Domestic Shorthair Mix,Black,2014-04-15T00:00:00,2014-07-19T17:36:00,2014-07-19T17:36:00,Adoption,Spayed Female,90,1.0,0.0,0.0
34,Labrador Retriever Mix,Black/White,2002-05-08T00:00:00,2014-07-09T11:54:00,2014-07-09T11:54:00,Adoption,Neutered Male,4380,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
78214,Cardigan Welsh Corgi/Miniature Schnauzer,Gray/Tan,2016-01-26T00:00:00,2018-01-31T11:51:00,2018-01-31T11:51:00,Transfer,Spayed Female,730,0.0,1.0,0.0
78215,Border Collie Mix,Chocolate/White,2016-12-15T00:00:00,2018-02-01T12:05:00,2018-02-01T12:05:00,Adoption,Neutered Male,365,0.0,1.0,0.0
78217,Great Dane Mix,Black/White,2016-04-24T00:00:00,2016-07-09T17:23:00,2016-07-09T17:23:00,Adoption,Spayed Female,60,0.0,1.0,0.0
78218,Labrador Retriever,Tan,2005-04-28T00:00:00,2018-02-01T13:17:00,2018-02-01T13:17:00,Adoption,Spayed Female,4380,0.0,1.0,0.0
78223,Pembroke Welsh Corgi Mix,Brown/White,2002-07-13T00:00:00,2018-02-01T13:18:00,2018-02-01T13:18:00,Adoption,Spayed Female,5475,0.0,1.0,0.0
78224,Blue Lacy,Blue/White,2014-07-31T00:00:00,2015-08-30T14:50:00,2015-08-30T14:50:00,Adoption,Neutered Male,365,0.0,1.0,0.0
78225,Akbash Mix,White,2015-08-15T00:00:00,2017-08-23T17:44:00,2017-08-23T17:44:00,Adoption,Neutered Male,730,0.0,1.0,0.0
78227,Akbash Mix,White,2015-08-15T00:00:00,2017-09-24T13:04:00,2017-09-24T13:04:00,Adoption,Neutered Male,730,0.0,1.0,0.0
78228,Domestic Medium Hair Mix,Brown Tabby/White,2016-07-29T00:00:00,2018-02-01T14:50:00,2018-02-01T14:50:00,Adoption,Spayed Female,365,1.0,0.0,0.0
78229,Labrador Retriever Mix,Tan/White,2015-12-11T00:00:00,2018-02-01T15:13:00,2018-02-01T15:13:00,Adoption,Spayed Female,730,0.0,1.0,0.0
78230,Labrador Retriever Mix,Black/White,2015-12-20T00:00:00,2018-01-05T17:45:00,2018-01-05T17:45:00,Adoption,Intact Female,730,0.0,1.0,0.0
78231,American Shorthair Mix,Blue Tabby/White,2017-09-14T00:00:00,2017-12-10T17:44:00,2017-12-10T17:44:00,Adoption,Intact Female,60,1.0,0.0,0.0
78232,Domestic Shorthair Mix,Brown Tabby/White,2017-08-03T00:00:00,2017-09-24T11:57:00,2017-09-24T11:57:00,Adoption,Intact Male,30,1.0,0.0,0.0
78233,Domestic Shorthair Mix,Brown Tabby,2017-01-30T00:00:00,2018-02-01T17:51:00,2018-02-01T17:51:00,Transfer,Neutered Male,365,1.0,0.0,0.0
78234,Cocker Spaniel Mix,Cream,2011-01-28T00:00:00,2018-02-01T16:34:00,2018-02-01T16:34:00,Transfer,Intact Female,2555,0.0,1.0,0.0
78236,Domestic Shorthair Mix,Tortie,2017-07-28T00:00:00,2018-02-01T16:37:00,2018-02-01T16:37:00,Adoption,Spayed Female,180,1.0,0.0,0.0
78237,Domestic Medium Hair Mix,Orange Tabby,2017-07-28T00:00:00,2018-02-01T16:38:00,2018-02-01T16:38:00,Adoption,Neutered Male,180,1.0,0.0,0.0
78238,Chihuahua Shorthair Mix,Blue/Tricolor,2017-01-28T00:00:00,2018-02-01T17:36:00,2018-02-01T17:36:00,Adoption,Neutered Male,365,0.0,1.0,0.0
78239,Golden Retriever/Labrador Retriever,White,2017-12-04T00:00:00,2018-02-01T17:51:00,2018-02-01T17:51:00,Adoption,Spayed Female,30,0.0,1.0,0.0
78241,Yorkshire Terrier Mix,Brown/Black,2016-07-28T00:00:00,2018-02-01T16:10:00,2018-02-01T16:10:00,Adoption,Spayed Female,365,0.0,1.0,0.0
78242,Pointer Mix,Chocolate/White,2017-09-30T00:00:00,2018-02-01T16:11:00,2018-02-01T16:11:00,Adoption,Spayed Female,120,0.0,1.0,0.0
78243,Standard Schnauzer,Brown,2017-11-13T00:00:00,2018-02-01T17:42:00,2018-02-01T17:42:00,Adoption,Neutered Male,60,0.0,1.0,0.0
78244,Black/Tan Hound Mix,Black/Brown,2017-04-23T00:00:00,2017-07-29T12:56:00,2017-07-29T12:56:00,Adoption,Spayed Female,90,0.0,1.0,0.0
78245,Golden Retriever/Labrador Retriever,White,2017-12-04T00:00:00,2018-02-01T16:10:00,2018-02-01T16:10:00,Adoption,Spayed Female,30,0.0,1.0,0.0
78246,Chihuahua Shorthair Mix,Black/Tan,2015-11-14T00:00:00,2018-02-01T18:23:00,2018-02-01T18:23:00,Adoption,Neutered Male,730,0.0,1.0,0.0
78250,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:40:00,2018-02-01T18:40:00,Adoption,Neutered Male,30,0.0,1.0,0.0
78251,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:26:00,2018-02-01T18:26:00,Adoption,Spayed Female,30,0.0,1.0,0.0
78252,Mastiff Mix,Blue/White,2014-12-30T00:00:00,2018-02-01T18:06:00,2018-02-01T18:06:00,Adoption,Neutered Male,1095,0.0,1.0,0.0
78254,Standard Schnauzer,Red,2017-11-13T00:00:00,2018-02-01T18:32:00,2018-02-01T18:32:00,Adoption,Spayed Female,60,0.0,1.0,0.0
78255,Labrador Retriever Mix,White/Brown,2017-11-13T00:00:00,2018-02-01T18:44:00,2018-02-01T18:44:00,Adoption,Neutered Male,60,0.0,1.0,0.0

___________________

In [342]:
#преобразуем категориальную переменную breed
data.breed.value_counts()

Domestic Shorthair Mix                           20809
Pit Bull Mix                                      3509
Chihuahua Shorthair Mix                           3399
Labrador Retriever Mix                            3258
Domestic Medium Hair Mix                          2049
German Shepherd Mix                               1265
Domestic Longhair Mix                             1027
Siamese Mix                                        857
Australian Cattle Dog Mix                          788
Dachshund Mix                                      581
Border Collie Mix                                  459
Boxer Mix                                          437
Miniature Poodle Mix                               392
Catahoula Mix                                      336
Domestic Shorthair                                 323
Rat Terrier Mix                                    310
Australian Shepherd Mix                            301
Jack Russell Terrier Mix                           296
Yorkshire Terrier Mix                              282
Beagle Mix                                         267
Cairn Terrier Mix                                  266
Pointer Mix                                        263
Chihuahua Longhair Mix                             256
Miniature Schnauzer Mix                            246
Rabbit Sh Mix                                      244
Staffordshire Mix                                  229
Great Pyrenees Mix                                 226
Siberian Husky Mix                                 217
Plott Hound Mix                                    213
Anatol Shepherd Mix                                200
                                                 ...
Irish Wolfhound/Australian Shepherd                  1
Pembroke Welsh Corgi/Chinese Sharpei                 1
Rat Terrier/Jack Russell Terrier                     1
Irish Setter Mix                                     1
Border Terrier/Soft Coated Wheaten Terrier           1
Golden Retriever/Bearded Collie                      1
Australian Cattle Dog/Anatol Shepherd                1
Australian Kelpie/Chihuahua Shorthair                1
Dachshund Wirehair/Rat Terrier                       1
Australian Shepherd/Alaskan Malamute                 1
Yorkshire Terrier/Soft Coated Wheaten Terrier        1
Pit Bull/Rottweiler                                  1
Great Dane/Mastiff                                   1
Dachshund Longhair/Pembroke Welsh Corgi              1
Cardigan Welsh Corgi/Australian Shepherd             1
Great Pyrenees/Plott Hound                           1
Rat Terrier/Pembroke Welsh Corgi                     1
Weimaraner/Plott Hound                               1
Dachshund/Norfolk Terrier                            1
Great Pyrenees/Chow Chow                             1
Akita/Chow Chow                                      1
Dachshund Longhair/Toy Poodle                        1
Plott Hound/Beagle                                   1
Bulldog/Boston Terrier                               1
Miniature Schnauzer/Queensland Heeler                1
Pit Bull/English Bulldog                             1
Whippet/Beagle                                       1
Domestic Shorthair/British Shorthair                 1
Rhod Ridgeback/Harrier                               1
English Coonhound/Border Collie                      1
Name: breed, Length: 1803, dtype: int64

In [343]:
# мы видим что некоторые породы являются миксом пород, а некоторые животные чистокровные. Разделим признак по этому прикципу. Mix - 0, чистокровная - 1
data.breed = data.breed.apply(lambda x : 0 if 'Mix' in x else 1)

In [344]:
data

,breed,color,date_of_birth,datetime,monthyear,outcome_type,sex_upon_outcome,number_of_days_upon_outcome,Cat,Dog,Other
0,0,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,Transfer,Intact Male,14,1.0,0.0,0.0
1,0,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Transfer,Spayed Female,365,0.0,1.0,0.0
2,1,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,Adoption,Neutered Male,365,0.0,1.0,0.0
3,0,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Transfer,Neutered Male,3285,0.0,1.0,0.0
5,0,Brown/White,2013-06-03T00:00:00,2013-10-07T13:06:00,2013-10-07T13:06:00,Transfer,Intact Male,120,0.0,1.0,0.0
7,0,Brown,2011-11-23T00:00:00,2014-12-08T15:55:00,2014-12-08T15:55:00,Transfer,Spayed Female,1095,0.0,1.0,0.0
8,0,Blue Tabby/White,2014-06-16T00:00:00,2014-08-14T18:45:00,2014-08-14T18:45:00,Adoption,Intact Female,30,1.0,0.0,0.0
9,0,White/Black,2014-03-26T00:00:00,2014-06-29T17:45:00,2014-06-29T17:45:00,Adoption,Spayed Female,90,1.0,0.0,0.0
11,1,Black/White,2012-02-28T00:00:00,2014-03-28T14:39:00,2014-03-28T14:39:00,Transfer,Neutered Male,730,0.0,1.0,0.0
12,1,Black,2014-03-07T00:00:00,2014-05-26T19:10:00,2014-05-26T19:10:00,Adoption,Neutered Male,60,0.0,1.0,0.0
15,0,White/Black,2012-06-02T00:00:00,2014-06-15T15:11:00,2014-06-15T15:11:00,Transfer,Neutered Male,730,0.0,1.0,0.0
16,0,Brown Brindle/White,2013-03-11T00:00:00,2014-04-16T12:51:00,2014-04-16T12:51:00,Transfer,Neutered Male,365,0.0,1.0,0.0
17,0,Black/White,2013-12-16T00:00:00,2014-01-09T19:29:00,2014-01-09T19:29:00,Transfer,Intact Male,21,1.0,0.0,0.0
18,1,Black/White,2014-10-19T00:00:00,2014-12-21T18:20:00,2014-12-21T18:20:00,Adoption,Spayed Female,60,0.0,1.0,0.0
19,0,Brown Tabby,2014-06-02T00:00:00,2014-08-13T15:04:00,2014-08-13T15:04:00,Adoption,Spayed Female,60,1.0,0.0,0.0
20,0,Brown Tabby/White,2013-07-05T00:00:00,2014-03-06T14:29:00,2014-03-06T14:29:00,Transfer,Unknown,240,1.0,0.0,0.0
21,0,Black Tabby,2014-03-22T00:00:00,2014-08-31T15:45:00,2014-08-31T15:45:00,Adoption,Neutered Male,150,1.0,0.0,0.0
22,0,Tan/White,2012-05-05T00:00:00,2014-12-11T17:52:00,2014-12-11T17:52:00,Adoption,Spayed Female,730,0.0,1.0,0.0
23,0,Orange Tabby,2014-08-03T00:00:00,2014-10-31T18:29:00,2014-10-31T18:29:00,Adoption,Neutered Male,60,1.0,0.0,0.0
24,0,Black/White,2012-12-04T00:00:00,2013-12-16T13:59:00,2013-12-16T13:59:00,Transfer,Neutered Male,365,1.0,0.0,0.0
25,0,Brown Brindle,2013-10-11T00:00:00,2014-10-19T17:54:00,2014-10-19T17:54:00,Adoption,Spayed Female,365,0.0,1.0,0.0
26,0,Brown Brindle/Black,2013-08-23T00:00:00,2013-12-25T09:47:00,2013-12-25T09:47:00,Transfer,Intact Female,120,0.0,1.0,0.0
27,0,Yellow,2013-09-01T00:00:00,2013-11-19T18:30:00,2013-11-19T18:30:00,Adoption,Spayed Female,60,0.0,1.0,0.0
28,0,Blue/Tan,2014-06-17T00:00:00,2014-11-04T18:03:00,2014-11-04T18:03:00,Transfer,Intact Female,120,0.0,1.0,0.0
29,1,Seal Point,2014-04-27T00:00:00,2014-07-03T12:12:00,2014-07-03T12:12:00,Transfer,Intact Female,60,1.0,0.0,0.0
30,0,Black,2014-05-27T00:00:00,2014-06-11T17:11:00,2014-06-11T17:11:00,Transfer,Unknown,14,1.0,0.0,0.0
31,0,Torbie,2014-04-14T00:00:00,2014-07-03T17:01:00,2014-07-03T17:01:00,Adoption,Spayed Female,60,1.0,0.0,0.0
32,0,Tan/White,2013-09-30T00:00:00,2014-01-03T17:47:00,2014-01-03T17:47:00,Adoption,Spayed Female,90,0.0,1.0,0.0
33,0,Black,2014-04-15T00:00:00,2014-07-19T17:36:00,2014-07-19T17:36:00,Adoption,Spayed Female,90,1.0,0.0,0.0
34,0,Black/White,2002-05-08T00:00:00,2014-07-09T11:54:00,2014-07-09T11:54:00,Adoption,Neutered Male,4380,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
78214,1,Gray/Tan,2016-01-26T00:00:00,2018-01-31T11:51:00,2018-01-31T11:51:00,Transfer,Spayed Female,730,0.0,1.0,0.0
78215,0,Chocolate/White,2016-12-15T00:00:00,2018-02-01T12:05:00,2018-02-01T12:05:00,Adoption,Neutered Male,365,0.0,1.0,0.0
78217,0,Black/White,2016-04-24T00:00:00,2016-07-09T17:23:00,2016-07-09T17:23:00,Adoption,Spayed Female,60,0.0,1.0,0.0
78218,1,Tan,2005-04-28T00:00:00,2018-02-01T13:17:00,2018-02-01T13:17:00,Adoption,Spayed Female,4380,0.0,1.0,0.0
78223,0,Brown/White,2002-07-13T00:00:00,2018-02-01T13:18:00,2018-02-01T13:18:00,Adoption,Spayed Female,5475,0.0,1.0,0.0
78224,1,Blue/White,2014-07-31T00:00:00,2015-08-30T14:50:00,2015-08-30T14:50:00,Adoption,Neutered Male,365,0.0,1.0,0.0
78225,0,White,2015-08-15T00:00:00,2017-08-23T17:44:00,2017-08-23T17:44:00,Adoption,Neutered Male,730,0.0,1.0,0.0
78227,0,White,2015-08-15T00:00:00,2017-09-24T13:04:00,2017-09-24T13:04:00,Adoption,Neutered Male,730,0.0,1.0,0.0
78228,0,Brown Tabby/White,2016-07-29T00:00:00,2018-02-01T14:50:00,2018-02-01T14:50:00,Adoption,Spayed Female,365,1.0,0.0,0.0
78229,0,Tan/White,2015-12-11T00:00:00,2018-02-01T15:13:00,2018-02-01T15:13:00,Adoption,Spayed Female,730,0.0,1.0,0.0
78230,0,Black/White,2015-12-20T00:00:00,2018-01-05T17:45:00,2018-01-05T17:45:00,Adoption,Intact Female,730,0.0,1.0,0.0
78231,0,Blue Tabby/White,2017-09-14T00:00:00,2017-12-10T17:44:00,2017-12-10T17:44:00,Adoption,Intact Female,60,1.0,0.0,0.0
78232,0,Brown Tabby/White,2017-08-03T00:00:00,2017-09-24T11:57:00,2017-09-24T11:57:00,Adoption,Intact Male,30,1.0,0.0,0.0
78233,0,Brown Tabby,2017-01-30T00:00:00,2018-02-01T17:51:00,2018-02-01T17:51:00,Transfer,Neutered Male,365,1.0,0.0,0.0
78234,0,Cream,2011-01-28T00:00:00,2018-02-01T16:34:00,2018-02-01T16:34:00,Transfer,Intact Female,2555,0.0,1.0,0.0
78236,0,Tortie,2017-07-28T00:00:00,2018-02-01T16:37:00,2018-02-01T16:37:00,Adoption,Spayed Female,180,1.0,0.0,0.0
78237,0,Orange Tabby,2017-07-28T00:00:00,2018-02-01T16:38:00,2018-02-01T16:38:00,Adoption,Neutered Male,180,1.0,0.0,0.0
78238,0,Blue/Tricolor,2017-01-28T00:00:00,2018-02-01T17:36:00,2018-02-01T17:36:00,Adoption,Neutered Male,365,0.0,1.0,0.0
78239,1,White,2017-12-04T00:00:00,2018-02-01T17:51:00,2018-02-01T17:51:00,Adoption,Spayed Female,30,0.0,1.0,0.0
78241,0,Brown/Black,2016-07-28T00:00:00,2018-02-01T16:10:00,2018-02-01T16:10:00,Adoption,Spayed Female,365,0.0,1.0,0.0
78242,0,Chocolate/White,2017-09-30T00:00:00,2018-02-01T16:11:00,2018-02-01T16:11:00,Adoption,Spayed Female,120,0.0,1.0,0.0
78243,1,Brown,2017-11-13T00:00:00,2018-02-01T17:42:00,2018-02-01T17:42:00,Adoption,Neutered Male,60,0.0,1.0,0.0
78244,0,Black/Brown,2017-04-23T00:00:00,2017-07-29T12:56:00,2017-07-29T12:56:00,Adoption,Spayed Female,90,0.0,1.0,0.0
78245,1,White,2017-12-04T00:00:00,2018-02-01T16:10:00,2018-02-01T16:10:00,Adoption,Spayed Female,30,0.0,1.0,0.0
78246,0,Black/Tan,2015-11-14T00:00:00,2018-02-01T18:23:00,2018-02-01T18:23:00,Adoption,Neutered Male,730,0.0,1.0,0.0
78250,1,Brown/White,2017-12-04T00:00:00,2018-02-01T18:40:00,2018-02-01T18:40:00,Adoption,Neutered Male,30,0.0,1.0,0.0
78251,1,Brown/White,2017-12-04T00:00:00,2018-02-01T18:26:00,2018-02-01T18:26:00,Adoption,Spayed Female,30,0.0,1.0,0.0
78252,0,Blue/White,2014-12-30T00:00:00,2018-02-01T18:06:00,2018-02-01T18:06:00,Adoption,Neutered Male,1095,0.0,1.0,0.0
78254,1,Red,2017-11-13T00:00:00,2018-02-01T18:32:00,2018-02-01T18:32:00,Adoption,Spayed Female,60,0.0,1.0,0.0
78255,0,White/Brown,2017-11-13T00:00:00,2018-02-01T18:44:00,2018-02-01T18:44:00,Adoption,Neutered Male,60,0.0,1.0,0.0

____________________

In [345]:
# преобразуем переменную color
animal_color = data.color.value_counts()
animal_color

Black/White                 6111
Black                       5141
Brown Tabby                 3975
Brown Tabby/White           2083
Orange Tabby                1914
White                       1846
Tan/White                   1640
Brown/White                 1600
White/Black                 1551
Blue/White                  1467
Tricolor                    1404
Tan                         1366
Brown                       1289
Black/Tan                   1220
Calico                      1212
Tortie                      1210
Blue                        1099
White/Brown                 1057
Blue Tabby                  1024
Orange Tabby/White           967
Black/Brown                  905
Brown Brindle/White          898
White/Tan                    807
Torbie                       764
Brown/Black                  684
Red                          593
Red/White                    549
Brown Brindle                494
Blue Tabby/White             489
Cream Tabby                  458
                            ...
Silver Tabby/Black             1
Cream/Red Tick                 1
Gray Tabby/Orange              1
Blue Merle/Brown Brindle       1
Brown Brindle/Blue             1
Orange/Blue                    1
Red/Silver                     1
Chocolate/Gold                 1
Agouti/White                   1
Fawn/Tricolor                  1
Yellow Brindle/Blue            1
Fawn/Gray                      1
Black Smoke/Brown Tabby        1
Blue Smoke/Gray                1
Blue Smoke/Brown               1
Brown Brindle/Blue Cream       1
Silver/Chocolate               1
Blue/Calico                    1
Blue Tabby/Black               1
Brown/Brown Tabby              1
Liver                          1
Red Merle/Brown Merle          1
Calico/Orange                  1
Chocolate Point/Cream          1
Ruddy/Cream                    1
Cream Tabby/Cream Tabby        1
Tricolor/Blue                  1
Blue/Yellow Brindle            1
White/Flame Point              1
Cream/Yellow                   1
Name: color, Length: 475, dtype: int64

 в этой категориальной переменной слишком много признаков. Можно заметить, что некоторые животные однотонные, а некоторые имееют разноцветный окрас. Разделим колонку по этому признаку, присвоив значения 1 и 0

In [346]:
data['multicolor'] = data['color'].apply(lambda x : 1 if '/' in x else 0)

In [347]:
data = data.drop(['color'], axis=1)

In [348]:
data.head()

,breed,date_of_birth,datetime,monthyear,outcome_type,sex_upon_outcome,number_of_days_upon_outcome,Cat,Dog,Other,multicolor
0,0,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,Transfer,Intact Male,14,1.0,0.0,0.0,0
1,0,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Transfer,Spayed Female,365,0.0,1.0,0.0,1
2,1,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,Adoption,Neutered Male,365,0.0,1.0,0.0,1
3,0,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Transfer,Neutered Male,3285,0.0,1.0,0.0,0
5,0,2013-06-03T00:00:00,2013-10-07T13:06:00,2013-10-07T13:06:00,Transfer,Intact Male,120,0.0,1.0,0.0,1

_____________________________

In [349]:
# избавимся от переменных времени.
data = data.drop(['date_of_birth'], axis=1) 
# мы и так представляем сколько лет животному, потому что значем сколько ему было лет на момент попадания в приют

In [350]:
data = data.drop(['monthyear'], axis=1)

In [351]:
data = data.drop(['datetime'], axis=1)

__________________________

In [352]:
# преобразуем признак sex_upon_outcome
data.sex_upon_outcome.value_counts()

Neutered Male    20732
Spayed Female    19949
Intact Female     6874
Intact Male       6295
Unknown           2761
Name: sex_upon_outcome, dtype: int64

разобьем этот признак на 2. род и стерилизованное животное или нет

судя по терменологии Neutered=Spayed
я бы очень хотела значнеия unknown разбить 50 на 50. половина Intact, половина Neutered. Половина Male, половина Female.  Но не понимаю как это сделать. Буда рада советам. А пока, варварски присвою всем значениям Unknown значение Spayed Female

In [353]:
data.sex_upon_outcome.replace('Unknown', 'Spayed Female')

0          Intact Male
1        Spayed Female
2        Neutered Male
3        Neutered Male
5          Intact Male
7        Spayed Female
8        Intact Female
9        Spayed Female
11       Neutered Male
12       Neutered Male
15       Neutered Male
16       Neutered Male
17         Intact Male
18       Spayed Female
19       Spayed Female
20       Spayed Female
21       Neutered Male
22       Spayed Female
23       Neutered Male
24       Neutered Male
25       Spayed Female
26       Intact Female
27       Spayed Female
28       Intact Female
29       Intact Female
30       Spayed Female
31       Spayed Female
32       Spayed Female
33       Spayed Female
34       Neutered Male
             ...
78214    Spayed Female
78215    Neutered Male
78217    Spayed Female
78218    Spayed Female
78223    Spayed Female
78224    Neutered Male
78225    Neutered Male
78227    Neutered Male
78228    Spayed Female
78229    Spayed Female
78230    Intact Female
78231    Intact Female
78232      Intact Male
78233    Neutered Male
78234    Intact Female
78236    Spayed Female
78237    Neutered Male
78238    Neutered Male
78239    Spayed Female
78241    Spayed Female
78242    Spayed Female
78243    Neutered Male
78244    Spayed Female
78245    Spayed Female
78246    Neutered Male
78250    Neutered Male
78251    Spayed Female
78252    Neutered Male
78254    Spayed Female
78255    Neutered Male
Name: sex_upon_outcome, Length: 56611, dtype: object

In [360]:
data

,breed,outcome_type,sex_upon_outcome,number_of_days_upon_outcome,Cat,Dog,Other,multicolor
0,0,Transfer,Intact Male,14,1.0,0.0,0.0,0
1,0,Transfer,Spayed Female,365,0.0,1.0,0.0,1
2,1,Adoption,Neutered Male,365,0.0,1.0,0.0,1
3,0,Transfer,Neutered Male,3285,0.0,1.0,0.0,0
5,0,Transfer,Intact Male,120,0.0,1.0,0.0,1
7,0,Transfer,Spayed Female,1095,0.0,1.0,0.0,0
8,0,Adoption,Intact Female,30,1.0,0.0,0.0,1
9,0,Adoption,Spayed Female,90,1.0,0.0,0.0,1
11,1,Transfer,Neutered Male,730,0.0,1.0,0.0,1
12,1,Adoption,Neutered Male,60,0.0,1.0,0.0,0
15,0,Transfer,Neutered Male,730,0.0,1.0,0.0,1
16,0,Transfer,Neutered Male,365,0.0,1.0,0.0,1
17,0,Transfer,Intact Male,21,1.0,0.0,0.0,1
18,1,Adoption,Spayed Female,60,0.0,1.0,0.0,1
19,0,Adoption,Spayed Female,60,1.0,0.0,0.0,0
20,0,Transfer,Unknown,240,1.0,0.0,0.0,1
21,0,Adoption,Neutered Male,150,1.0,0.0,0.0,0
22,0,Adoption,Spayed Female,730,0.0,1.0,0.0,1
23,0,Adoption,Neutered Male,60,1.0,0.0,0.0,0
24,0,Transfer,Neutered Male,365,1.0,0.0,0.0,1
25,0,Adoption,Spayed Female,365,0.0,1.0,0.0,0
26,0,Transfer,Intact Female,120,0.0,1.0,0.0,1
27,0,Adoption,Spayed Female,60,0.0,1.0,0.0,0
28,0,Transfer,Intact Female,120,0.0,1.0,0.0,1
29,1,Transfer,Intact Female,60,1.0,0.0,0.0,0
30,0,Transfer,Unknown,14,1.0,0.0,0.0,0
31,0,Adoption,Spayed Female,60,1.0,0.0,0.0,0
32,0,Adoption,Spayed Female,90,0.0,1.0,0.0,1
33,0,Adoption,Spayed Female,90,1.0,0.0,0.0,0
34,0,Adoption,Neutered Male,4380,0.0,1.0,0.0,1
...,...,...,...,...,...,...,...,...
78214,1,Transfer,Spayed Female,730,0.0,1.0,0.0,1
78215,0,Adoption,Neutered Male,365,0.0,1.0,0.0,1
78217,0,Adoption,Spayed Female,60,0.0,1.0,0.0,1
78218,1,Adoption,Spayed Female,4380,0.0,1.0,0.0,0
78223,0,Adoption,Spayed Female,5475,0.0,1.0,0.0,1
78224,1,Adoption,Neutered Male,365,0.0,1.0,0.0,1
78225,0,Adoption,Neutered Male,730,0.0,1.0,0.0,0
78227,0,Adoption,Neutered Male,730,0.0,1.0,0.0,0
78228,0,Adoption,Spayed Female,365,1.0,0.0,0.0,1
78229,0,Adoption,Spayed Female,730,0.0,1.0,0.0,1
78230,0,Adoption,Intact Female,730,0.0,1.0,0.0,1
78231,0,Adoption,Intact Female,60,1.0,0.0,0.0,1
78232,0,Adoption,Intact Male,30,1.0,0.0,0.0,1
78233,0,Transfer,Neutered Male,365,1.0,0.0,0.0,0
78234,0,Transfer,Intact Female,2555,0.0,1.0,0.0,0
78236,0,Adoption,Spayed Female,180,1.0,0.0,0.0,0
78237,0,Adoption,Neutered Male,180,1.0,0.0,0.0,0
78238,0,Adoption,Neutered Male,365,0.0,1.0,0.0,1
78239,1,Adoption,Spayed Female,30,0.0,1.0,0.0,0
78241,0,Adoption,Spayed Female,365,0.0,1.0,0.0,1
78242,0,Adoption,Spayed Female,120,0.0,1.0,0.0,1
78243,1,Adoption,Neutered Male,60,0.0,1.0,0.0,0
78244,0,Adoption,Spayed Female,90,0.0,1.0,0.0,1
78245,1,Adoption,Spayed Female,30,0.0,1.0,0.0,0
78246,0,Adoption,Neutered Male,730,0.0,1.0,0.0,1
78250,1,Adoption,Neutered Male,30,0.0,1.0,0.0,1
78251,1,Adoption,Spayed Female,30,0.0,1.0,0.0,1
78252,0,Adoption,Neutered Male,1095,0.0,1.0,0.0,1
78254,1,Adoption,Spayed Female,60,0.0,1.0,0.0,0
78255,0,Adoption,Neutered Male,60,0.0,1.0,0.0,1

In [362]:
a = data['sex_upon_outcome'].str. split(" ")
a

0          [Intact, Male]
1        [Spayed, Female]
2        [Neutered, Male]
3        [Neutered, Male]
5          [Intact, Male]
7        [Spayed, Female]
8        [Intact, Female]
9        [Spayed, Female]
11       [Neutered, Male]
12       [Neutered, Male]
15       [Neutered, Male]
16       [Neutered, Male]
17         [Intact, Male]
18       [Spayed, Female]
19       [Spayed, Female]
20              [Unknown]
21       [Neutered, Male]
22       [Spayed, Female]
23       [Neutered, Male]
24       [Neutered, Male]
25       [Spayed, Female]
26       [Intact, Female]
27       [Spayed, Female]
28       [Intact, Female]
29       [Intact, Female]
30              [Unknown]
31       [Spayed, Female]
32       [Spayed, Female]
33       [Spayed, Female]
34       [Neutered, Male]
               ...
78214    [Spayed, Female]
78215    [Neutered, Male]
78217    [Spayed, Female]
78218    [Spayed, Female]
78223    [Spayed, Female]
78224    [Neutered, Male]
78225    [Neutered, Male]
78227    [Neutered, Male]
78228    [Spayed, Female]
78229    [Spayed, Female]
78230    [Intact, Female]
78231    [Intact, Female]
78232      [Intact, Male]
78233    [Neutered, Male]
78234    [Intact, Female]
78236    [Spayed, Female]
78237    [Neutered, Male]
78238    [Neutered, Male]
78239    [Spayed, Female]
78241    [Spayed, Female]
78242    [Spayed, Female]
78243    [Neutered, Male]
78244    [Spayed, Female]
78245    [Spayed, Female]
78246    [Neutered, Male]
78250    [Neutered, Male]
78251    [Spayed, Female]
78252    [Neutered, Male]
78254    [Spayed, Female]
78255    [Neutered, Male]
Name: sex_upon_outcome, Length: 56611, dtype: object

In [367]:
data['sex'] = data['sex_upon_outcome'].apply(lambda x : 1 if 'Male' in x else 0)
data['intact'] = data['sex_upon_outcome'].apply(lambda x : 1 if 'Intact' in x else 0)

In [369]:
data = data.drop(['sex_upon_outcome'], axis=1)

In [370]:
data

,breed,outcome_type,number_of_days_upon_outcome,Cat,Dog,Other,multicolor,sex,intact
0,0,Transfer,14,1.0,0.0,0.0,0,1,1
1,0,Transfer,365,0.0,1.0,0.0,1,0,0
2,1,Adoption,365,0.0,1.0,0.0,1,1,0
3,0,Transfer,3285,0.0,1.0,0.0,0,1,0
5,0,Transfer,120,0.0,1.0,0.0,1,1,1
7,0,Transfer,1095,0.0,1.0,0.0,0,0,0
8,0,Adoption,30,1.0,0.0,0.0,1,0,1
9,0,Adoption,90,1.0,0.0,0.0,1,0,0
11,1,Transfer,730,0.0,1.0,0.0,1,1,0
12,1,Adoption,60,0.0,1.0,0.0,0,1,0
15,0,Transfer,730,0.0,1.0,0.0,1,1,0
16,0,Transfer,365,0.0,1.0,0.0,1,1,0
17,0,Transfer,21,1.0,0.0,0.0,1,1,1
18,1,Adoption,60,0.0,1.0,0.0,1,0,0
19,0,Adoption,60,1.0,0.0,0.0,0,0,0
20,0,Transfer,240,1.0,0.0,0.0,1,0,0
21,0,Adoption,150,1.0,0.0,0.0,0,1,0
22,0,Adoption,730,0.0,1.0,0.0,1,0,0
23,0,Adoption,60,1.0,0.0,0.0,0,1,0
24,0,Transfer,365,1.0,0.0,0.0,1,1,0
25,0,Adoption,365,0.0,1.0,0.0,0,0,0
26,0,Transfer,120,0.0,1.0,0.0,1,0,1
27,0,Adoption,60,0.0,1.0,0.0,0,0,0
28,0,Transfer,120,0.0,1.0,0.0,1,0,1
29,1,Transfer,60,1.0,0.0,0.0,0,0,1
30,0,Transfer,14,1.0,0.0,0.0,0,0,0
31,0,Adoption,60,1.0,0.0,0.0,0,0,0
32,0,Adoption,90,0.0,1.0,0.0,1,0,0
33,0,Adoption,90,1.0,0.0,0.0,0,0,0
34,0,Adoption,4380,0.0,1.0,0.0,1,1,0
...,...,...,...,...,...,...,...,...,...
78214,1,Transfer,730,0.0,1.0,0.0,1,0,0
78215,0,Adoption,365,0.0,1.0,0.0,1,1,0
78217,0,Adoption,60,0.0,1.0,0.0,1,0,0
78218,1,Adoption,4380,0.0,1.0,0.0,0,0,0
78223,0,Adoption,5475,0.0,1.0,0.0,1,0,0
78224,1,Adoption,365,0.0,1.0,0.0,1,1,0
78225,0,Adoption,730,0.0,1.0,0.0,0,1,0
78227,0,Adoption,730,0.0,1.0,0.0,0,1,0
78228,0,Adoption,365,1.0,0.0,0.0,1,0,0
78229,0,Adoption,730,0.0,1.0,0.0,1,0,0
78230,0,Adoption,730,0.0,1.0,0.0,1,0,1
78231,0,Adoption,60,1.0,0.0,0.0,1,0,1
78232,0,Adoption,30,1.0,0.0,0.0,1,1,1
78233,0,Transfer,365,1.0,0.0,0.0,0,1,0
78234,0,Transfer,2555,0.0,1.0,0.0,0,0,1
78236,0,Adoption,180,1.0,0.0,0.0,0,0,0
78237,0,Adoption,180,1.0,0.0,0.0,0,1,0
78238,0,Adoption,365,0.0,1.0,0.0,1,1,0
78239,1,Adoption,30,0.0,1.0,0.0,0,0,0
78241,0,Adoption,365,0.0,1.0,0.0,1,0,0
78242,0,Adoption,120,0.0,1.0,0.0,1,0,0
78243,1,Adoption,60,0.0,1.0,0.0,0,1,0
78244,0,Adoption,90,0.0,1.0,0.0,1,0,0
78245,1,Adoption,30,0.0,1.0,0.0,0,0,0
78246,0,Adoption,730,0.0,1.0,0.0,1,1,0
78250,1,Adoption,30,0.0,1.0,0.0,1,1,0
78251,1,Adoption,30,0.0,1.0,0.0,1,0,0
78252,0,Adoption,1095,0.0,1.0,0.0,1,1,0
78254,1,Adoption,60,0.0,1.0,0.0,0,0,0
78255,0,Adoption,60,0.0,1.0,0.0,1,1,0

In [371]:
# дата фрейм готов. Используем классификатор "случайный лес"

In [372]:
X = data.drop('outcome_type', axis=1)
y = data['outcome_type']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [373]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, log_loss
clf = RandomForestClassifier(n_estimators=100, max_depth=2,
                            random_state=0)
rf_model = clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(accuracy_score(y_test,y_pred))
y_prob = rf_model.predict_proba(X_test)
print(log_loss(y_test, y_prob))

0.800582884394595
0.5389940216502876