#задача 1Напишите функцию date_range, которая возвращает список дней между датами start_date и end_date. Даты должны вводиться в формате YYYY-MM-DD.

In [2]:
import datetime

In [3]:
from datetime import datetime

In [4]:
from datetime import timedelta

In [5]:

start_date = '2019-02-25'
end_date = '2019-09-07'

In [16]:
def date_list(start_date,end_date):
    start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_dt = datetime.strptime(end_date,'%Y-%m-%d')
  
    current = start_date_dt
    count = 0
    try:
        while current <= end_date_dt:
            print(current.strftime('%Y-%m-%d'))
            current += timedelta(days=1)
            count +=1
    except ValueError:
            print('неверный формат даты')
    print(count)


print(date_list(start_date,end_date))

2019-02-25
2019-02-26
2019-02-27
2019-02-28
2019-03-01
2019-03-02
2019-03-03
2019-03-04
2019-03-05
2019-03-06
2019-03-07
2019-03-08
2019-03-09
2019-03-10
2019-03-11
2019-03-12
2019-03-13
2019-03-14
2019-03-15
2019-03-16
2019-03-17
2019-03-18
2019-03-19
2019-03-20
2019-03-21
2019-03-22
2019-03-23
2019-03-24
2019-03-25
2019-03-26
2019-03-27
2019-03-28
2019-03-29
2019-03-30
2019-03-31
2019-04-01
2019-04-02
2019-04-03
2019-04-04
2019-04-05
2019-04-06
2019-04-07
2019-04-08
2019-04-09
2019-04-10
2019-04-11
2019-04-12
2019-04-13
2019-04-14
2019-04-15
2019-04-16
2019-04-17
2019-04-18
2019-04-19
2019-04-20
2019-04-21
2019-04-22
2019-04-23
2019-04-24
2019-04-25
2019-04-26
2019-04-27
2019-04-28
2019-04-29
2019-04-30
2019-05-01
2019-05-02
2019-05-03
2019-05-04
2019-05-05
2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-11
2019-05-12
2019-05-13
2019-05-14
2019-05-15
2019-05-16
2019-05-17
2019-05-18
2019-05-19
2019-05-20
2019-05-21
2019-05-22
2019-05-23
2019-05-24
2019-05-25
2019-05-26
2019-05-27
2019-05-28
2019-05-29
2019-05-30
2019-05-31
2019-06-01
2019-06-02
2019-06-03
2019-06-04
2019-06-05
2019-06-06
2019-06-07
2019-06-08
2019-06-09
2019-06-10
2019-06-11
2019-06-12
2019-06-13
2019-06-14
2019-06-15
2019-06-16
2019-06-17
2019-06-18
2019-06-19
2019-06-20
2019-06-21
2019-06-22
2019-06-23
2019-06-24
2019-06-25
2019-06-26
2019-06-27
2019-06-28
2019-06-29
2019-06-30
2019-07-01
2019-07-02
2019-07-03
2019-07-04
2019-07-05
2019-07-06
2019-07-07
2019-07-08
2019-07-09
2019-07-10
2019-07-11
2019-07-12
2019-07-13
2019-07-14
2019-07-15
2019-07-16
2019-07-17
2019-07-18
2019-07-19
2019-07-20
2019-07-21
2019-07-22
2019-07-23
2019-07-24
2019-07-25
2019-07-26
2019-07-27
2019-07-28
2019-07-29
2019-07-30
2019-07-31
2019-08-01
2019-08-02
2019-08-03
2019-08-04
2019-08-05
2019-08-06
2019-08-07
2019-08-08
2019-08-09
2019-08-10
2019-08-11
2019-08-12
2019-08-13
2019-08-14
2019-08-15
2019-08-16
2019-08-17
2019-08-18
2019-08-19
2019-08-20
2019-08-21
2019-08-22
2019-08-23
2019-08-24
2019-08-25
2019-08-26
2019-08-27
2019-08-28
2019-08-29
2019-08-30
2019-08-31
2019-09-01
2019-09-02
2019-09-03
2019-09-04
2019-09-05
2019-09-06
2019-09-07
195
None

## задача 3

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [67]:
from datetime import datetime
import traceback
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [72]:

           
def validate(stream):
    for i in stream:
        try:
            datetime.strptime(i, '%Y-%m-%d')
            print('True')
        except Exception:
            print('False')

validate(stream)

True
False
False

## задача 5

In [85]:
import pandas as pd

In [86]:
stats = pd.read_csv('stats.csv', names=['day_number', 'user_id', 'category', 'cost'])
stats.head()

   day_number  user_id  category   cost
0          14    26376         3  13301
1          12     7316         2  19329
2          28     2803         2  87381
3          25    22022         2  94036
4          20    13883         5  50722

In [122]:
stats_dict = {}
line_to_find = ('20', '20552', '3')
def search(line_to_find):
    with open('stats.csv') as f:
        n = int(input('поиск по скольким столбцам?'))
        for line in f:
            line = line.strip().split(',')
            stats_dict[tuple(line[:n])] = line[n]
            cost = stats_dict[line_to_find]
print(stats_dict)
            
search(line_to_find)

{}
поиск по скольким столбцам?2

KeyError: ('20', '20552', '3')